.grid {
	border: solid 1px var(--base--border);
	width: rem(800px);
	position: relative;
	height: fit-content;

	table {
		width: 100%;
	}

	td {
		user-select: none;
	}
}
.dragSource {
	div {
		opacity: 0;
	}
}

.dragOver {
	border-top: solid 2px var(--base--blue);
}
