.page {
	flex-direction: column;
	padding-bottom: rem(36px);
}

.row {
	padding: rem(16px) rem(12px);
	border: solid 1px var(--base--border);
	width: 100%;
	user-select: none;
}

.menu {
	position: fixed;
	background-color: var(--base--white);
	box-shadow: var(--shadow--md);

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: rem(12px) rem(24px);

			&:hover {
				background-color: var(--base--grey);
			}
		}
	}
}
